@model List<centuras.org.Models.Post>
@{
    ViewData["Title"] = "Pathfinder";
    int oneShots = Model.Count(c => c.Category?.Id == 1);
    int adventures = Model.Count(c => c.Category?.Id == 2);
    int campaigns = Model.Count(c => c.Category?.Id == 3);
}

<div class="container" align="center">
    <h3>Pathfinder Modules</h3>
    <br/>
    <br/>
    @if (Model.Count() == 0) {
        <p>No Content</p>
    }
    <div class="row g-3">
        @if (oneShots > 0)
        {
            <div class="col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark h-100">
                        <div class="card-body" align="center">
                            <h5 class="card-title">Pathfinder One-Shots</h5>
                            <p class="card-text">A short adventure path that usually takes one or two sessions.
                            </p>

                        </div>
                        <div class="card-footer" align="center">
                        <a asp-action="Library" asp-route-id="1"
                           style="text-decoration:none; color:inherit" class="btn btn-primary">
                            List of One-Shots
                        </a>
                        </div>
                    </div>
            </div>
        }
        @if (adventures > 0)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card bg-dark h-100">
                        <div class="card-body" align="center">
                            <h5 class="card-title">Pathfinder Adventures</h5>
                            <p class="card-text">
                                An adventure path that usually includes 2-3 towns along with 2-3 dungeons. Usually
                                takes 4-10 sessions.
                            </p>

                        </div>
                        <div class="card-footer" align="center">
                        <a asp-action="Library" asp-route-id="2"
                           style="text-decoration:none; color:inherit" class="btn btn-primary">
                            List of Adventures
                        </a>
                        </div>
                    </div>
            </div>
        }
        @if (campaigns > 0)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card bg-dark h-100">
                    <div class="card-body" align="center">
                        <h5 class="card-title">Pathfinder Campaigns</h5>
                        <p class="card-text">
                            A lengthly adventure path that usually features an entire region with numerous dungeons.
                            This will take awhille to complete.
                        </p>
                <a asp-action="Library" asp-route-id="3"
                           style="text-decoration:none; color:inherit" class="btn btn-primary">
                            List of Campaigns
                    </a>
                    </div>
                </div>
        </div>
        }
    </div>
</div>