@model centuras.org.Models.Game
@{
    ViewData["Title"] = "Edit Game";
}
<link href="~/lib/trumbowyg-main/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<h3>Edit a Post</h3>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" asp-for="Title" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="Content">Content</label>
        <textarea id="editor" asp-for="Content"></textarea>
    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input type="text" class="form-control" asp-for="Author" />
    </div>
    <div class="form-group">
        <label for="RawImage">Choose Image</label>
        <input type="file" class="form-control" asp-for="RawImage" />
    </div>
    <div hidden class="form-group">
        <label for="CoverImage">Image</label>
        <input type="text" class="form-control" asp-for="CoverImage" />
    </div>
    <div class="form-group">
        <label for="ZipFile">Upload Game</label>
        <input type="file" class="form-control" asp-for="ZipFile" />
    </div>
    <div hidden class="form-group">
        <label for="ZipPath">Game</label>
        <input type="text" class="form-control" asp-for="ZipPath" />
    </div>
    <div class="form-group">
        <label for="CreatedDate">Created Date</label>
        <input type="datetime" class="form-control" asp-for="CreatedDate" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script>$('#editor').trumbowyg();</script>
}